body {
  font-family: "Geneva";
}
#map { height: 500px; }
.info {
  padding: 6px 8px;
  font: 18px/20px "Geneva";
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: 'black';
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 90px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/*Popup Style*/
.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  border-radius: 0px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.1);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
  }
